<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>App</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="css/main.css"/>
    <script src="js/main.js"></script>
    <script src="js/logout.js"></script>
</head>


<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!-- INSRCHOFSNRS -->
                <div class="cool">
                    <span>IN</span>
                    <span>S</span>
                    <span class="hiddenx ea">EA</span>
                    <span>RCHOFS</span>
                    <span class="hiddenx u">U</span>
                    <span>NR</span>
                    <span class="hiddenx i">I</span>
                    <span>S</span>
                    <span class="hiddenx e">E</span>
                </div>
            </a>
        </div>
    </div>
</nav>
<div class="container unauthenticated">
    With Facebook: <a href="/login">click here</a>
</div>
<div class="container authenticated" style="display:none">
    Logged in as: <span id="user"></span>
</div>



<p><td th:text="${test}">...</td></p>
<table>
    awdwadц
    <th:block th:each="user : ${test}">
        <tr>
            <td th:text="${user.name}">...</td>
        </tr>
    </th:block>
</table>


<script type="text/javascript">
    $.get("/user", function(data) {
        $("#user").html(data.userAuthentication.details.name);
        $(".unauthenticated").hide()
        $(".authenticated").show()
    });
</script>




<div>
    <form class="form-inline" style="margin:20px 20px 20px 20px" id="add-user">
        <div class="form-group">

            <input type="text" id="email" placeholder="EMAIL"/>
        </div>
        <div class="form-group">

            <input type="text" id="password" placeholder="PASSWORD"/>
        </div>
        <div class="form-group">

            <input type="text" id="name" placeholder="NAME"/>
        </div>
        <button type="submit" class="btn btn-default" style="margin-left:20px; margin-right:5px">Submit</button>
    </form>
</div>
<div class="col-sm-7" style="margin:20px 0px 20px 0px">
    <button id="getAllUserId" type="button" class="btn btn-primary">Get All Customers</button>
    <div id="getResultDiv" style="padding:20px 10px 20px 50px">
        <ul class="list-group">
        </ul>
    </div>
</div>
</body>


</html>