<!DOCTYPE html>
<html lang="en">
<head>
    <title>test</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>


<body>
<script src="js/main.js"></script>
<p>ПРИВЕТ</p>
<div>
    <p class="greeting-id">The ID is </p>
    <p class="greeting-content">The content is </p>
</div>
<div>
    <p class="user-id">The ID is </p>
    <p class="user-content">The content is </p>
</div>
</body>



</html>