<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Похвалы как грица</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="css/main.css"/>

</head>


<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!-- INSRCHOFSNRS -->
                <div class="cool">
                    <span>IN</span>
                    <span>S</span>
                    <span class="hiddenx ea">EA</span>
                    <span>RCHOFS</span>
                    <span class="hiddenx u">U</span>
                    <span>NR</span>
                    <span class="hiddenx i">I</span>
                    <span>S</span>
                    <span class="hiddenx e">E</span>
                </div>
            </a>
        </div>
    </div>
</nav>


<script src="js/main.js"></script>


<div align="middle">
<img src="img/yarik.jpg" alt="успешный уважающий старших капитальный красавчик" align="middle" th:width="300"/>
    <p><b><h3>УСПЕШНЫЙ КАПЕТАЛЬНЫЙ КРАСАВЧИК <p>(уважает старших(Красава))</p></h3></b></p>
</div>

</body>


</html>